* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
    gap: 5vw;
}

.animated-card,
.animated-card2 {
    display: grid;
    place-items: center;
    position: relative;
    height: 500px;
    width: 350px;
    background: #222;
    border-radius: 10px;
    cursor: pointer;
}

.animated-card,
.animated-card2 p {
    color: #999;
    font-size: 5rem;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

p {
    z-index: 1;
}

.animated-card::before {
    position: absolute;
    content: '';
    height: 500px;
    width: 350px;
    background: tomato;
    border-radius: 15px;
    z-index: -1; 
    transition: 0.3s;
    animation: animate 2s linear infinite;
}

.animated-card:hover::before {
    height: 512px;
    width: 362px;
}

@keyframes animate {
    50% {
        filter: hue-rotate(350deg)
    }
}

.animated-card2 {
    overflow: hidden;
}

.animated-card2::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: #fff;
    transform: rotate(45deg);
}

.animated-card2:hover::before {
    background: #fff;
    animation: animate2 2s linear infinite;
}

.animated-card2::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #222;
    border-radius: 8px;
}

@keyframes animate2 {
    /*50% {
        filter: hue-rotate(350deg)
    }*/
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}