* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar{
    display: none;
}

body {
    overflow: hidden;
    background: #1f1f1f;
}

#head-menu {
    user-select: none;
    width: 100%;
    background: black;
    color: #fff;
    box-shadow: 0 0 0.8rem #000;
    height: 4em;
}

#head-menu i#toggle {
    position: absolute;
    font-size: 2.5rem;
    right: 1rem;
    top: 0.7rem;
    display: inherit;
}

#head-menu.active {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 18.75rem;
    display: inherit;
}

#head-menu.active i#toggle {
    display: none;
}

#head-menu .title {
    display: flex;
}

#head-menu .title img {
    padding: 0.75rem;
    height: 2.5rem;
}

#head-menu .title h1 {
    padding: 0.5rem;
}

#head-menu #sub-menu {
    display: none;
}

#head-menu.active #sub-menu.active {
    position: relative;
    width: calc(100% - 2rem);
}

#head-menu #sub-menu.active {
    position: absolute;
    right: 0;

    display: inherit;
    height: calc(100vh - 4rem);
    width: 17.05rem;

    background: #0d0d0d;
    box-shadow: 0 0 0.8rem #000;
    overflow-y: auto;
}

#head-menu #sub-menu ul {
    padding-bottom: 1rem;
}

#head-menu #sub-menu ul li {
    padding: 1rem 1rem 0 1rem;
}

#head-menu #sub-menu ul li .menu-item {
    position: relative;
    padding: 1.25rem;
    background: black;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem black;
}

#head-menu #sub-menu ul li .menu-item span {
    position: absolute;
    left: 3rem;
    top: 0.45rem;
    font-size: 1.1rem;
}

#head-menu #sub-menu ul li .menu-item i {
    position: absolute;
    left: 0.55rem;
    top: 0.535rem;
    font-size: 1.5rem;
}

#head-menu #sub-menu ul li .menu-item:hover {
    background: linear-gradient(to bottom right, white, #f0cbff);
    box-shadow: 0 0 0.8rem white;
    color: black;
    cursor: pointer;
}

#head-menu #sub-menu ul li .menu-item#twitch:hover {
    background: linear-gradient(to bottom right, rebeccapurple, mediumpurple);
    box-shadow: 0 0 0.8rem rebeccapurple;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#youtube:hover {
    background: linear-gradient(to bottom right, red, darkred);
    box-shadow: 0 0 0.8rem red;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#youtube2:hover {
    background: linear-gradient(to bottom right, indianred, #d93131);
    box-shadow: 0 0 0.8rem indianred;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#youtube3:hover {
    background: linear-gradient(to bottom right, mediumpurple, indianred);
    box-shadow: 0 0 0.8rem #692c5e;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#discord:hover {
    background: linear-gradient(to bottom right, mediumpurple, #5865F2);
    box-shadow: 0 0 0.8rem #5865F2;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#bluesky:hover {
    background: linear-gradient(to bottom right, cornflowerblue, #0884fc);
    box-shadow: 0 0 0.8rem #0884fc;
    color: white;
}

#head-menu #sub-menu ul li .menu-item#x:hover {
    background: linear-gradient(to bottom right, white, #8d8d8d);
    box-shadow: 0 0 0.8rem white;
    color: black;
}

#head-menu #sub-menu ul li .menu-item#instagram:hover {
    background: linear-gradient(to bottom right, #833AB4,#E1306C,#FFDC80);
    box-shadow: 0 0 0.8rem #E1306C;
    color: white;
}

#content {
    height: calc(100vh - 4rem);
    width: 100%;
}

#content.active {
    position: fixed;
    z-index: -1;
    left: 16.75rem;
    top: 0;
    height: 100vh;
}