* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#head-menu {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 0 0.8rem #000;
    background: black;
    color: #fff;

    width: 18.75rem;
    height: 4rem;

    display: none;
}

#head-menu.active {
    display: inherit;
}

#head-menu .title {
    display: flex;
}

#head-menu .title img {
    padding: 0.75rem;
    height: 2.5rem;
}

#head-menu .title h1 {
    padding: 0.5rem;
}

#head-menu .sub-menu {
    height: calc(100vh - 4rem);
    width: calc(100% - 1.7rem);

    background: #0d0d0d;
    box-shadow: 0 0 0.8rem #000;
}

#head-menu .sub-menu ul li {
    padding: 1rem 1rem 0 1rem;
}

#head-menu .sub-menu ul li .menu-item {
    position: relative;
    padding: 1.25rem;
    background: black;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem black;
}

#head-menu .sub-menu ul li .menu-item span {
    position: absolute;
    left: 3rem;
    top: 0.45rem;
    font-size: 1.1rem;
}

#head-menu .sub-menu ul li .menu-item i {
    position: absolute;
    left: 0.55rem;
    top: 0.535rem;
    font-size: 1.5rem;
}

#head-menu .sub-menu ul li .menu-item:hover {
    background: linear-gradient(to bottom right, white, #f0cbff);
    box-shadow: 0 0 0.8rem white;
    cursor: pointer;
    color: black;
}

#head-menu .sub-menu ul li .menu-item#twitch:hover {
    background: linear-gradient(to bottom right, rebeccapurple, mediumpurple);
    box-shadow: 0 0 0.8rem rebeccapurple;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#youtube:hover {
    background: linear-gradient(to bottom right, red, darkred);
    box-shadow: 0 0 0.8rem red;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#youtube2:hover {
    background: linear-gradient(to bottom right, indianred, #d93131);
    box-shadow: 0 0 0.8rem indianred;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#youtube3:hover {
    background: linear-gradient(to bottom right, mediumpurple, indianred);
    box-shadow: 0 0 0.8rem #692c5e;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#discord:hover {
    background: linear-gradient(to bottom right, mediumpurple, #5865F2);
    box-shadow: 0 0 0.8rem #5865F2;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#bluesky:hover {
    background: linear-gradient(to bottom right, cornflowerblue, #0884fc);
    box-shadow: 0 0 0.8rem #0884fc;
    color: white;
}

#head-menu .sub-menu ul li .menu-item#x:hover {
    background: linear-gradient(to bottom right, white, #8d8d8d);
    box-shadow: 0 0 0.8rem white;
    color: black;
}

#head-menu .sub-menu ul li .menu-item#instagram:hover {
    background: linear-gradient(to bottom right, #833AB4,#E1306C,#FFDC80);
    box-shadow: 0 0 0.8rem #E1306C;
    color: white;
}

#head-menu.active {

}